// Заголовки, загальні БЕМ блоки та інше...

.title {
  color: #f2b154;
  text-align: center;
  font-family: "Jost";
  @include adaptiveValue("font-size", 50, 30);
  font-weight: 400;
  line-height: 55px; /* 110% */
  text-transform: uppercase;
}

.text {
  color: #686868;
  font-family: Jost;
  @include adaptiveValue("font-size", 20, 18);
  font-weight: 400;
  line-height: 110%; /* 22/20 */

  p {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 15);
    }
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: toRem(8);
  .swiper-pagination-bullet {
    cursor: pointer;
    width: toRem(20);
    height: toRem(20);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.23);

    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #ffffff;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #ffffff;
  }
}

//========================================================================================================================================================

.fancybox__container {
  max-width: none;
}

//========================================================================================================================================================

//========================================================================================================================================================

.decor {
  &__item {
    position: absolute;
    z-index: -1;

    &_1 {
      width: percent(239, 1920);
      top: percent(149, 980);
      right: percent(-79, 1920);
    }

    &_2 {
      width: percent(224, 1920);
      bottom: percent(103, 980);
      left: percent(-53, 1920);
    }

    &_3 {
      width: percent(163, 1920);
      top: percent(160, 2800);
      left: percent(-40, 1920);
    }

    &_4 {
      width: percent(254, 1920);
      top: percent(850, 2800);
      right: percent(-104, 1920);
    }

    &_5 {
      width: percent(275, 1920);
      bottom: percent(486, 2800);
      left: percent(-106, 1920);
    }

    img {
      max-width: 100%;
    }

    @media (max-width: $mobile) {
      width: 20%;
      opacity: 0.7;
    }
  }
}
