//====================================================================================================

.hero {
  position: relative;
  @include adaptiveValue("padding-top", 30, 70, 0, 1210, 767);
  @include adaptiveValue("padding-bottom", 85, 40);
  @media (min-width: $pc) {
    // padding-top: toRem(137);
  }
  @media (min-width: $mobile) {
    // padding-top: toRem(165);
  }

  &__container {
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
    @media (max-width: $tablet) {
      margin-bottom: toRem(30);
    }
  }

  &__title {
    max-width: toRem(680);
    @include adaptiveValue("font-size", 55, 30);
    @include adaptiveValue("margin-bottom", 55, 40);
    line-height: 100%;

    @media (min-width: $tablet) {
      color: #fff;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: toRem(20);
    width: 100%;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__button {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__slider {
    position: relative;

    @media (max-width: $mobile) {
      margin: 0 toRem(-15);
    }
  }

  &__wrapper {
  }

  &__slide-ibg--contain {
    overflow: hidden;
    padding-bottom: percent(562, 1180);

    @media (min-width: $mobile) {
      border-radius: toRem(20);
    }
  }

  &__pagination {
    @media (min-width: $mobile) {
      position: absolute;
      bottom: toRem(38);
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
    }
    @media (max-width: $mobile) {
      margin-top: toRem(15);

      .swiper-pagination-bullet {
        background-color: rgba(104, 104, 104, 0.23);
      }
      .swiper-pagination-bullet-active {
        background-color: #686868;
      }
    }
  }

  &__items {
    margin-top: toRem(20);
    display: grid;
    gap: toRem(20);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: toRem(15);

    border-radius: toRem(15);
    background: #fff;

    padding: toRem(34) toRem(35);
  }

  &__item-ico {
    flex-grow: 0;
    flex-shrink: 0;
    @include adaptiveValue("flex-basis", 80, 65);

    img {
      max-width: 100%;
    }
  }

  &__item-text {
    color: #333;
    line-height: 100%;
  }

  &__decor {
  }
}

//====================================================================================================

.text-block {
  position: relative;
  &__wrapper {
    position: relative;
    &:nth-child(odd) {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;

        border-radius: 0 0 toRem(50) toRem(50);
        z-index: -2;
      }
    }
  }

  &__container {
    @include adaptiveValue("padding-top", 86, 35);
    @include adaptiveValue("padding-bottom", 86, 45);
  }

  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 35);
    }
  }
}

.item-text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(30);

  @media (max-width: $mobile) {
    flex-direction: column;
    row-gap: toRem(30);
  }

  &_reverse {
    @media (min-width: $mobile) {
      flex-direction: row-reverse;
    }
  }

  &__content {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 27, 15);
    text-align: left;
    @media (min-width: $mobile) {
      max-width: toRem(480);
    }
  }

  &__subtitle {
    color: #3494bf;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 400;
    line-height: 104%; /* 104.545% */
    text-transform: uppercase;
    margin-bottom: toRem(17);

    @media (min-width: $mobile) {
      max-width: toRem(527);
    }
  }

  &__text {
    @media (min-width: $mobile) {
      max-width: toRem(480);
    }
  }

  &__image-ibg,
  &__image-ibg--contain {
    justify-self: flex-end;
    overflow: hidden;
    border-radius: toRem(20);
    height: fit-content;
    flex: 0 0 percent(480, 1180);
    padding-bottom: percent(414, 1180);
    background-color: #fff;

    @media (max-width: $mobile) {
      width: 100%;
      padding-bottom: percent(270, 345);
    }
  }
}

//========================================================================================================================================================

.price {
  position: relative;
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 85, 35);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-color: #fff;
  }
  &__container {
  }

  &__body {
    display: grid;

    gap: toRem(20);

    @media (min-width: em(660)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image-ibg--contain {
    overflow: hidden;
    border-radius: toRem(20);
    padding-bottom: percent(986, 580);
  }

  &__decor-item {
    width: percent(268, 1920);
    bottom: percent(225, 980);
    right: percent(-63, 1920);
    left: auto;

    @media (max-width: em(660)) {
      display: none;
    }
  }
}

//========================================================================================================================================================

.advantages {
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 125, 35);
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 35);
  }

  &__items {
    display: grid;
    gap: toRem(20);
    @media (min-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
    }
  }

  &__item {
  }
}

.item-advantages {
  border-radius: toRem(15);
  background: #fff;

  padding: toRem(30) toRem(30) toRem(44) toRem(34);

  @media (max-width: $mobile) {
    padding: toRem(25) toRem(20);
  }
  &__top {
    display: flex;
    align-items: center;
    column-gap: toRem(25);
  }

  &__ico {
    flex: 0 0 toRem(70);

    @media (max-width: $mobile) {
      flex: 0 0 toRem(55);
    }
    img {
      max-width: 100%;
    }
  }

  &__title {
    color: #333;
    font-size: 22px;
  }

  &__text {
    margin-top: toRem(10);
    padding-left: toRem(80);
  }
}

//========================================================================================================================================================

.photo {
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 125, 35);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -2;
  }
  &__container {
  }

  &__title {
  }

  &__subtitle {
    text-align: center;
    @include adaptiveValue("font-size", 19, 18);
    line-height: 115%; /* 115.789% */
    margin-bottom: toRem(5);

    @include adaptiveValue("margin-bottom", 47, 35);
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 15);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item-ibg {
    position: relative;
    padding-bottom: percent(264, 380);
    border-radius: toRem(20);
    overflow: hidden;

    img {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__link {
    @include adaptiveValue("margin-top", 60, 35);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: max-content;

    @media (min-width: $mobile) {
      min-height: toRem(71);
      min-width: toRem(317);
    }
  }

  .photo__decor-item {
    top: toRem(116);
    left: toRem(-140);
    right: auto;
    bottom: auto;
  }

  .photo__decor-item-2 {
    left: auto;
    right: toRem(-55);
  }
}

//========================================================================================================================================================

.instagram {
  position: relative;
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 125, 35);
  &__container {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(20);

    @include adaptiveValue("margin-bottom", 55, 35, 0, 1180, 767);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__title {
  }

  &__link {
    color: #3494bf;
    @include adaptiveValue("font-size", 22, 20);
    font-weight: 400;
    line-height: 100%; /* 90.909% */

    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 17, 10);
    transition: color 0.3s ease 0s;

    &::before {
      @include adaptiveValue("width", 62, 45);
      @include adaptiveValue("height", 62, 45);
      flex-shrink: 0;
      border-radius: 50%;
      background-color: #3494bf;
      color: #6cc2e8;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #f2b154;

        &::before {
          color: #f2b154;
        }
      }
    }
  }

  &__items {
    display: grid;
    @include adaptiveValue("gap", 20, 15);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  }

  &__item-ibg {
    padding-bottom: 100%;
    border-radius: toRem(20);
    overflow: hidden;

    img {
      transition: all 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__buttons {
    @include adaptiveValue("margin-top", 65, 35);
    display: flex;
    justify-content: center;
    gap: toRem(20);
    width: 100%;

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__button {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.contact {
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 85, 35);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -2;
  }
  &__container {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 50, 35);
  }

  &__body {
    @include adaptiveValue("gap", 40, 20);

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: auto percent(456, 1180);
    }
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__map {
    border-radius: toRem(30);
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }

  &__contact-block {
    border-radius: toRem(20);
    background: #f5f5f5;
    box-shadow: 0px 1px 17px 0px rgba(220, 220, 220, 0.14);

    display: flex;
    flex-direction: column;
    padding: toRem(35) toRem(28);
    @media (max-width: $mobile) {
      padding: toRem(25) toRem(15);
    }
  }
}

.contact-block {
  &__line {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 15, 10);
    &::before {
      @include adaptiveValue("width", 45, 40);
      @include adaptiveValue("height", 45, 40);
      flex-shrink: 0;
      border-radius: 50%;
      background-color: #3494bf;
      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptiveValue("font-size", 22, 18);
    }

    &:not(:last-child) {
      margin-bottom: toRem(23);
    }
  }

  &__body {
    a {
      transition: all 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          color: #f2b154;
        }
      }
    }
  }

  &__text {
    color: #888;
    font-size: toRem(18);
    line-height: 144.4%; /* 26/18 */
  }

  &__link {
    color: #313131;
    font-size: toRem(20);
    line-height: 115%; /* 115% */
  }

  &__social {
    margin-top: auto;
  }
}

.social {
  display: flex;
  align-items: center;
  @include adaptiveValue("column-gap", 23, 20);
  &__link {
    @include adaptiveValue("font-size", 33, 25);
    color: #c0c0c0;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #f2b154;
      }
    }
  }
}

//========================================================================================================================================================

.questions {
  @include adaptiveValue("padding-top", 85, 35);
  @include adaptiveValue("padding-bottom", 115, 35);
  &__container {
  }

  &__body {
    border-radius: toRem(20);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue("padding-top", 110, 45);
    @include adaptiveValue("padding-bottom", 75, 35);
    position: relative;
  }

  &__title {
    position: relative;
    z-index: 2;
    color: #fff;
    @include adaptiveValue("font-size", 55, 30);
    line-height: 100%;
    @include adaptiveValue("padding-bottom", 60, 35);
  }

  &__button {
    position: relative;
    z-index: 2;
  }

  &__bg-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

//========================================================================================================================================================
